<!DOCTYPE html>

{% extends "base.html" %}
{% load static %}

{% block content %}
{% load crispy_forms_tags %}
 
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary mb-4" data-toggle="modal" data-target="#exampleModal">
    Check Farm
    </button>

    {% if result %}

    <div class="row">

      

      <div class="col-lg-8 mb-8">

          <!-- Illustrations -->
          <div class="card shadow mb-4">
              <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Klasipikasyon Nang Tanim Palay</h6>
              </div>
              <div class="card-body">
                  <div class="text-center">
                      <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style='height: 90%; width: 90%; object-fit: contain;' src="{{ result.0.image_link  }}" alt="...">
                  </div>
                  <h4 class="small font-weight-bold">Crop Percentage <span class="float-right">{{ result.0.percentage_crop }}%</span></h4>
                  <div class="progress">
                      <div class="progress-bar bg-success" role="progressbar" style="width: {{ result.0.percentage_crop }}%" aria-valuenow="{{ result.0.percentage_crop }}" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <br>  
                  <p> 
                    {{ result.0.desc }}
                  </p>
              </div>
          </div>
      </div>
  </div>

  {% endif  %}


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title text-primary" id="exampleModalLabel">Check Farm</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    
    {% load crispy_forms_tags %}
                <form method="post">
                    {% csrf_token %} {{ form|crispy }}

                    
                
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    <input type="submit" class='btn btn-primary' value="Submit">
    </form>
  </div>
</div>
</div>
</div>

{% endblock content %}  